{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> HOME </title> {% endblock %}

{% block content %}
<!-- ABOUT -->
<!-- <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Nosotros</h3>
            <h2 class="mb-5">Quienes somos ?</h2>
        </div>
        <div class="row gx-4 gx-lg-5">

            {% for user in users %}

            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <img src="{{user.image.url}}" class="rounded" alt="{{user.name}}" height="200" width="200">
                <h4><strong>{{user.name}}</strong></h4>
                <p class="text-faded mb-0">Desarrolador: {{user.language}}</p>
            </div>

            {% endfor %}

        </div>
    </div>
</section> -->
<!-- PORTFOLIO -->
<!-- <section class="content-section" id="lastProjects" style="padding-bottom: 0%;">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Proyectos</h3>
            <h2 class="text-black mb-5 mt-4">Nuestros Últimos Cursos</h2>
        </div>


</section> -->
{% endblock %}