{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> CALENDARIO </title> {% endblock %}

{% block content %}
<main class="container">
    <section class="text-center">

        <section class="row">

            <div id='calendar' class="col-12 text-dark card pt-4 px-4 pb-4">
            </div>
    
        </section>
    
        <script>
    
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
    
                var calendar = new FullCalendar.Calendar(calendarEl, {
    
                    timeZone: 'local',
    
                    locale: 'es',
    
                    themeSystem: 'bootstrapFontAwesome',
    
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                    },
    
                    titleFormat: {
                        year: 'numeric', month: 'long'
                    },
    
                    buttonText: {
                        today: 'Hoy',
                        month: 'Mes',
                        week: 'Semana',
                        day: 'Día',
                        list: 'Lista'
                    },
    
                    height: 600,
    
                    nowIndicator: true,
    
                    selectable: true,
    
                    navLinks: true,
    
                    eventBackgroundColor: '#ffa500',
    
                    events: [
    
                        {% for event in events %}
                        
                            {
                        title: '{{event.title}}',
                        start: '{{event.start}}',
                        end: '{{event.end}}',
                        url: '{{event.url}}',
                        classNames: ['myTextStyle']
                    },
    
                    {% endfor %}
                    ],
                    
                });
            calendar.render();
            });
    
        </script>

    </section>

    <section class="row mt-5 lead text-black text-center">
        <p class="display-6">Añadir Cita</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis, nostrum voluptates corporis odit
            veritatis aliquid odio quae ducimus reprehenderit! </p>
    </section>

    <section class="text-black lead row">
        <form style="margin: auto;" class="col-md-8 col-sm-12" action="" method="post"> {% csrf_token %}
            <hr class="mt-5">

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.name.id_for_label }}">Nombre:
                    {{ form.name }}
                </label>
            </div>


            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.email.id_for_label }}">Email:
                    {{ form.email }}
                </label>
            </div>

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.phone.id_for_label }}">Teléfono:
                    {{ form.phone }}
                </label>
            </div>

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.date.id_for_label }}">Mensaje:
                    {{ form.message }}
                </label>
            </div>

            <button type="submit" class="btn btn-outline-success mt-3"> Enviar </button>
            <hr>
        </form>
    </section>
</main>

{% endblock %}