{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> CALENDARIO </title> {% endblock %}

{% block content %}
<main class="container">
    <section class="text-center">

        <div class="row mt-4">
            <p class="text-black lead display-6"> Programación de Eventos </p>
        </div>

        <div class="row mt-4">
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FMadrid&showTitle=0&showPrint=0&showCalendars=0&showTz=0&src=dnFyMWo2NTVoOXI5ZDBxZDJsODYydDhhcWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5"
                style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
            </iframe>
        </div>

    </section>

    <section class="row mt-5 lead text-black text-center">
        <p class="display-6">Añadir Cita</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis, nostrum voluptates corporis odit
            veritatis aliquid odio quae ducimus reprehenderit! </p>
    </section>

    <section class="text-black lead row">
        <form style="margin: auto;" class="col-md-8 col-sm-12" action="" method="post"> {% csrf_token %}
            <hr class="mt-5">

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.name.id_for_label }}">Nombre:
                    {{ form.name }}
                </label>
            </div>


            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.email.id_for_label }}">Email:
                    {{ form.email }}
                </label>
            </div>

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.phone.id_for_label }}">Teléfono:
                    {{ form.phone }}
                </label>
            </div>

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.date.id_for_label }}">Data:
                    {{ form.date }}
                </label>
            </div>

            <div class="fieldWrapper mt-3">
                <label style="width: 100%;" for="{{ form.time.id_for_label }}">Duración:
                    {{ form.time }}
                </label>
            </div>

            <button type="submit" class="btn btn-outline-success mt-3"> Enviar </button>
            <hr>
        </form>
    </section>
</main>

{% endblock %}