{% load static %}

<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a aria-label="Facebook" class="social-link rounded-circle text-white mr-3" href="#!"><i
                        class="fab fa-facebook-square"></i></a>
            </li>

            <li class="list-inline-item">
                <a aria-label="WhatsApp" class="social-link rounded-circle text-white mr-3"
                    href="https://wa.me/34628667060"><i class="fab fa-whatsapp-square"></i></a>
            </li>

            <li class="list-inline-item">
                <a aria-label="Gmail" class="social-link rounded-circle text-white"
                    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=francesc.castell8@gmail.com"><i
                        class="fas fa-envelope"></i></i></a>
            </li>

        </ul>
        <p class="text-muted small mb-0">Copyright &copy; PROGRAMMING WEBSITE</p>
    </div>
</footer>

<a class="scroll-to-top rounded" href="#"><i class="fas fa-angle-up"></i></a>

<script src="{% static 'Core/js/app.js'%}"></script>

<!-- JAVASCRIPT FULLCALENDAR -->
<script src="{% static 'Core/lib/main.min.js'%}">
</script>

<script src="{% static 'Core/lib/locales-all.min.js'%}">
</script>