{% load static %}

<a aria-label="Menu Toggle" class="menu-toggle rounded" href="{% url 'home' %}"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#page-top">Programming School</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'about' %}">Sobre Nosotros</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'courses' %}">Courses</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'calendar' %}">Calendario</a></li>
        <li class="sidebar-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
        {% if request.user.is_authenticated %}
        
        {% else %}
        <li class="sidebar-nav-item bg-dark"><a href="{% url 'login' %}">Log-In</a></li>
        {% endif %}
    </ul>
</nav>