{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> CONTACTO </title> {% endblock %}

{% block content %}

<main class="container mt-5 text-black">

    <div class="row">
        <section class="col-12">
            <p class="lead text-center display-6"> Formulario de Contacto </p>
        </section>
    </div>

    <hr class="mt-4">

    <div class="row">
        <section class="col-md-6 col-sm-12 lead">
            <form action="" method="post"> {% csrf_token %}
                <div class="fieldWrapper">
                    <label style="width: 100%;" for="{{ form.name.id_for_label }}">Nombre Completo:
                        {{ form.name }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.email.id_for_label }}">Email:
                        {{ form.email }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.phone.id_for_label }}">Teléfono:
                        {{ form.phone }}
                    </label>
                </div>

                <div class="fieldWrapper mt-3">
                    <label style="width: 100%;" for="{{ form.email.id_for_label }}">Mensaje:
                        {{ form.message }}
                    </label>
                </div>

                <button type="submit" class="btn btn-outline-success mt-3"> Enviar </button>
            </form>
        </section>

        <section class="col-md-6 col-sm-12">
            <img src="{% static 'Core/assets/img/imgEmail.webp' %}" alt="Email Image"
                style="max-width: 100%; height: 100%;">
        </section>
    </div>
    <hr>

</main>
<!-- <div class="map" id="contact">
        <iframe title="Google Maps API"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24450.598505097463!2d3.8275151265766993!3d40.00119165736942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be040aab08890f%3A0x8145a42f36707c1e!2sCiudadela%20de%20Menorca%2C%20Islas%20Baleares!5e0!3m2!1ses!2ses!4v1637763264714!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div> -->
{% endblock %}